html {
 font-family: "Surveyor display A", "Surveyor Display B", Georgia, Times, serif;
  margin: 0 auto;  
}

.App {
    margin: 0 auto;
    width: 100%;
    min-height: calc(100vh - 70px);
}

.TopBar {
  display: flex;
  margin: 0 auto;
  text-decoration: none;
}

nav {
  margin: 0 auto;
}

.topmenu {
  display: flex;
  width: 1070px;
  margin-top: 50px;
  
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

.topmenu > li {
  width: 100%;
  /*float: left;*/
  position: relative;
  font-family: "Roboto Condensed", sans-serif;
}

.howTobuy {
  margin-right: 70px;
}
.about {
  margin-right: 30px;
}

.Nav-Link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-around;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: #341b14;
}

.topmenu > li:hover > .Home > .Nav-Link, 
.topmenu > li:hover > .catalog > .Nav-Link,
.topmenu > li:hover > .howTobuy > .Nav-Link,
.topmenu > li:hover > .about > .Nav-Link,
.topmenu > li:hover > .community > .Nav-Link,
.topmenu > li:hover > .basket > .Nav-Link,     
.submenu-table td:hover .sub-link {
  color: #D5B45B;
}

.submenu-link:after {
  content: " ";
  font-family: "FontAwesome";
  color: inherit;
}
.submenu-table {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
  background: rgba(64,64,66, 0.8);
  position: absolute;
  vertical-align: center;
  text-align: bottom;  
  left: 0;
  top: 100%;
  z-index: 5;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;

}

.table-tittle {
  padding: 15px;
  font-size: 15px;
  vertical-align: center;
  text-align: center;
  text-transform: uppercase;
  color: #D5B45B;

}

.sub-link {
  display: block;
  text-decoration: none;

}

.submenu-table .sub-link {
  color: #cec9c6;
  text-align: left;
  padding-left: 20px;
  font-size: 14px;
}

.topmenu > li:hover .submenu-table {
  opacity: 1;
  transform: scaleY(1);
}


.search {
  height: 30px;
  font-family: 'FontAwesome', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 20;
  border: none;
  outline: none;
  color: #555;
  padding: 10px;
  padding-right: 30px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

.search:focus:hover {
  border-bottom: 1px solid #D5B45B;
}

.search:focus {
  width: 200px;
  z-index: 1;
  cursor: text;
}
.search_submit {
  height: 35px;
  width: 30px;
  display: inline-block;
  color:red;
  float: right;
  background: url('../src/Catalog/img/search1.png') center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

.search_submit:hover {
  opacity: 0.8;
}


.footer {
  display: flex;
  justify-content: center;
  height: 350px;
  background-color: #dfef89 /*#242031*/;
}

.footerBlock {
  width: 1070px;
  display: flex;
  justify-content: center;
  
  
}

.footerBlock-contacts {
  display: flex;
  color: #182932;

}

.footerBlock-subscribtion {
  display: flex;
}

.footerBlock-partners {
 display: flex;
 
}

.footerBlock-partners-img img{
 display: flex;
  margin: auto;
  width: 150px;
  height: 100px;
}

.footerBottom-tittle {
  
}
